
#  Data Science tools and Ecosystem

## Author
David Gomez Salazar

This notebook summarizes the data science tools and ecosystem learned during this course.

** Objectives:** 
- List popular languages for Data Science.
- List commonly used by libraries.
- List Data Science Tools.
- Evaluate expressions.
- Making converts.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Scikit-learn
3. Apache Spark


|Data Science Tools | 
| ------ |
| Jupyter| 
|Rstudio |
| Apache Zappelin |


|Data Science Tools | 
| ------ |
| Jupyter| 
|Rstudio |
| Apache Zappelin |

###  Below are a few examples of evaluating arithmetic expressions in Python

###  Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#this a simple arithmetic expression to multiply then add integers

17

In [3]:
200*(1/60)
#this will convert 200 minutes to hours by diviing by 60

3.3333333333333335